
<h1>Listing assessors</h1>

<div class="index-list">
<table>
  <tr>
    <th>Assessment</th>
    <th>Version</th>
    <th>Published</th>
    <th>Actions</th>
  </tr>

<% @assessors.each do |assessor| %>
  <tr>
    <td><%= assessor.assessment_id %></td>
    <td><%= assessor.version %></td>
    <td><%= !assessor.publish_json.nil? %></td>
    <td><%= link_to 'Show', assessor %>
    <%= link_to 'Edit', edit_assessor_path(assessor) %>
    <%= link_to 'Destroy', assessor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<%= link_to 'New Assessor', new_assessor_path %>

