<%= form_for(@question) do |f| %>
<% texteval = (@question.score_method == "TextContains") || (@question.score_method == "TextNumeric")%>
<div class="index-list">
  <div class="actions">
    <%= f.submit %><span><%= @question.question_text%>
  </div>

  <table>
    <tr class="list-header">
        <th>Seq</th>
        <th>Answer Text/Short Name<%= texteval ? "/Text Eval" : ""%></th>
        <th>Value</th>
        <th>&check; Other Question</th>
        <th>Delete</th>
    </tr>
    <% alt = true%>
    
    <%= f.fields_for :answers do |builder| %>
      <%#= render "list_items", :f => builder %>      
    
    <%# @question.answers.each do |answer| %>
      <% alt = !alt %>
      <% new_ans = builder.object[:id].nil? ? "New " : ""%>
    <tr <%=raw alt ? "class=\"alt\"" : ""%>>
        <td>
          <%= builder.text_field :sequence ,:size => 2 %>
        </td>
        <td>
          <span class="index-label"><%= new_ans %>Answer:</span> <%= builder.text_field :answer_text, :size => 50 %> <br />
          <span class="index-label">Short Name:</span> <%= builder.text_field :short_name, :size => 20 %>  
          
        </td>
        <td>
          <%= builder.text_field :value, :size => 2 %>  
        </td>
        <td>
          <%= builder.check_box :requires_other %> <%= builder.text_field :other_question, :size => 40 %>  
        </td>
        <td>
          <span > 
            <%if !builder.object.answer_text.nil? %>
            <%= builder.check_box :_destroy, :"data-confirm" => "Are you sure?" %>
            <%= builder.label :_destroy, "Delete" %>
            <%else%>
            &nbsp;
            <%end%>
          </span>
      </td>
    </tr>
    <% if  texteval %>
    <tr <%=raw alt ? "class=\"alt\"" : ""%>>
      <td>&nbsp;</td>
      <td colspan="4"><span class="index-label">Text Eval:</span>
        <%= builder.text_field :text_eval, :size => 110 %>
        <% if @question.score_method == "TextContains" %>
          <%= link_to_function "Edit Helper",nil,"data-behavior" => "edit_contains", :id => "eval_#{builder.object.sequence}", :class => "edit-button"%>
          <%= render_text_contains(builder.object.text_eval,builder.object.sequence)%>
        <% else %>
        <%= link_to_function "Edit Helper",nil,"data-behavior" => "edit_numeric", :id => "eval_#{builder.object.sequence}", :class => "edit-button"%>
          <%= render_text_numeric(builder.object.text_eval,builder.object.sequence)%>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<% end %>
  