<!DOCTYPE html>
<html>
<head>
  <title>Take</title>
  <%= stylesheet_link_tag    "take/application" %>
  <%= javascript_include_tag "take/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">Take</div>
    <div id="navbar" class="navspan">
      
        <%= link_to "Take", root_path, :class => controller.controller_name.include?('about') ? 'selected' : ''%> |
        <%= link_to "Assessments", assessments_path, :class => controller.controller_name.include?('about') ? 'selected' : ''%> |
        <%= link_to "Admin", "/", :class => controller.controller_name.include?('home') ? 'selected' : ''%>
    </div>
    <div id="content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "#{name}" %>
      <% end %>
      
      
      
      <%= yield %>
    </div>
  </div>

</body>
</html>
