<!DOCTYPE html>
<html>
<head>
  <title>Take</title>
  <%= stylesheet_link_tag    "take/application" %>
  <%= javascript_include_tag "take/application?i=1" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">Take</div>
    <div id="menubar">Menu <%= link_to "Dummy Application", "/"%></div>
    <div id="content">
      <%
        result =""
          %w(notice warning error alert).each do |msg|
            result <<  content_tag(:div, content_tag(:p, flash[msg.to_sym]),
              :class => "message #{msg}") unless flash[msg.to_sym].blank?
          end
          
          %>
         <%= result.html_safe %>
      
      <%= yield %>
    </div>
  </div>

</body>
</html>
